{% if message != '' %}
    <div class="form-message">{{ message }}</div>
{% endif %}

<div class="form-container">

    <div class="form-container-left">
        <div class="form-group">
            <label class="col-form-label" for="name">Nom de l'activité</label>
            <input class="form-control" type="text" id="name" name="name" value="{{data.name}}" placeholder="Aquagym" required>
            <small class="errorMessage form-text text-danger">{{errors.name}}</small>
        </div>

        {% set pictureDirectory = "activityImages" %}
        {% include 'Admin/_pictureUpload.html.twig' %}

        <div class="form-group ckbox">
            <input class="" type="checkbox" id="tbd" name="toBeDisplayed" value="1"
               {%  if data.to_be_displayed==1 %}
                  checked
               {% endif %}
            >
            <label class="" for="tbd">Afficher en page d'accueil </label>
        </div>
     </div>

    <div class="form-container-right">

        <div class="form-group">
            <label class="col-form-label" for="description">Description de l'activité</label>
            <textarea class="activityFormTextArea form-control" type="text" id="description" name="description"  required>{{data.description}}</textarea>
            <small class="errorMessage form-text text-danger">{{errors.description}}</small>
        </div>

    </div>

</div>

<input type="hidden" name="id" value="{{ data.id }}">
