{% if message != '' %}
    <div class="form-message">{{ message }}</div>
{% endif %}

<div class="form-Activity form-container">


    <div class="form- activity-left form-container-left">

        <div class="form-group">
            <label class="col-form-label" for="location">Prix</label>
            <input class="form-control" type="text" id="price" name="price" value="{{data.price}}" placeholder="150">
            <!--prx de l'activité-->
            <small class="errorMessage form-text text-danger">{{errors.price}}</small>
        </div>

        <div class="form-group">
            <label for="day-select">Choisir le jour:</label>
            <select name="day" id="day-select">
                <option value="">--Choisir un jour--</option>
                <option value="monday">Lundi</option>
                <option value="tuesday">Mardi</option>
                <option value="wednesday">Mercredi</option>
                <option value="thursday">Jeudi</option>
                <option value="friday">Vendredi</option>
                <option value="saturday ">Samedi</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="location">Heure</label>
            <input class="form-control" type="text" id="hour" name="hour" value="{{data.time}}" placeholder="19h00-20h00"required>
            <!--heure-->
            <small class="errorMessage form-text text-danger">{{errors.time}}</small>
        </div>

    </div>






</div>

<input type="hidden" name="id" value="{{ data.id }}">

