{% if message != '' %}
    <div class="form-message">{{ message }}</div>
{% endif %}

<div class="form-container">


    <div class="form-container-left">
        <div class="form-group">
            <label class="col-form-label" for="name">Nom de l'activité</label>
            <input class="form-control" type="text" id="name" name="name" value="{{data.name}}" placeholder="Aquagym">
            <small class="errorMessage form-text text-danger">{{errors.title}}</small>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="picture">Illustration de l'activité</label>
            <select name="picture" class="form-control">
                {% for picture in availablePictures %}
                    <option value="{{ picture }}"
                            {%  if picture==data.picture %}
                                selected
                            {% endif %}
                    >{{ picture }}</option>
                {% endfor %}
            </select>


            <small class="errorMessage form-text text-danger">{{errors.picture}}</small>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="tbd">Page d'accueil :</label>
            <input class="form-control" type="checkbox" id="tbd" name="toBeDisplayed" value="1"
                   {%  if data.to_be_displayed==1 %}
                       checked
                   {% endif %}

            >
            <small class="errorMessage form-text text-danger">{{errors.picture}}</small>
        </div>
    </div>

    <div class="form-container-right">

        <div class="form-group">
            <label class="col-form-label" for="description">Description de l'activité</label>
            <textarea class="eventFormTextArea form-control" type="text" id="description" name="description">{{data.description}}</textarea>
            <small class="errorMessage form-text text-danger">{{errors.description}}</small>
        </div>

    </div>



</div>

<input type="hidden" name="id" value="{{ data.id }}">

