
 <section class="cookies container-fluid">
        <div class="row">
            <h2>Gestion des évenements</h2>


            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Evenement</th>
                    <th>Date</th>
                    <th>Lieu</th>
                </tr>
                </thead>
                <tbody>
                {%  for id in event %}

                <tr>
                    <td>{{ id.title }}</td>
                    <td>{{ id.date }}</td>
                    <td>{{ id.location }}</td>
                    <td><a class="mini activity-button btn btn-primary btn-lg" href="showEvent/{{ id.id }}">Modifier</a>
                    </td>
                    <td>
                        <button>
                            <a href="delete/{{ id.id }}"><img class="delete_button" src="/./assets/icons/logo_delete.png" alt="logo_delete"></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}

                </tbody>
            </table>
        </div>
    <a class="activity-button btn btn-primary btn-lg" href="/./Admin/createEvent">Ajouter un évènement</a>
  </section>

