{% if message != '' %}
    <div class="form-message">{{ message }}</div>
{% endif %}

<div class="form-container">


    <div class="form-container-left">
        <div class="form-group">
            <label class="col-form-label" for="title">Nom de l'évènement</label>
            <input class="form-control" type="text" id="title" name="title" value="{{ data.title }}"
                   placeholder="Championnat d'Orléans">
            <small class="errorMessage form-text text-danger">{{ errors.title }}</small>
        </div>

        {% set pictureDirectory = "eventImages" %}
        {% include 'Admin/_pictureUpload.html.twig' %}

        <div class="form-group">
            <label class="col-form-label" for="date">Date de l'évènement</label>
            <input class="form-control" type="date" id="date" name="date" value="{{ data.date }}">
            <small class="errorMessage form-text text-danger">{{ errors.date }}</small>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="location">Endroit de l'évènement</label>
            <input class="form-control" type="text" id="location" name="location" value="{{ data.location }}"
                   placeholder="Piscine du palais des sports">
            <small class="errorMessage form-text text-danger">{{ errors.location }}</small>
        </div>
    </div>

    <div class="form-container-right">

        <div class="form-group">
            <label class="col-form-label" for="description">Description de l'évènement</label>
            <textarea class="eventFormTextArea form-control" type="text" id="description"
                      name="description">{{ data.description }}</textarea>
            <small class="errorMessage form-text text-danger">{{ errors.description }}</small>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="link">Lien vers l'évènement</label>

            <input class="form-control" type="url" id="link" name="link" value="{{ data.link }}"
                   placeholder="www.votre-evenement.com">
            <small class="errorMessage form-text text-danger">{{ errors.link }}</small>
        </div>
        
    </div>

</div>

<input type="hidden" name="id" value="{{ data.id }}">

