
<section class="cookies container-fluid">
    <div class="row">
        <h2>Gestion des leçons</h2>


        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Activité</th>
                <th>Age</th>
                <th>Bassin</th>
                <th>Jour</th>
                <th>Heure</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {%  for lesson in lessons %}
                <tr>
                    <td>{{ lesson.name }}</td>
                    <td>{{ lesson.age}}</td>
                    <td>{{ lesson.pool_name }}</td>
                    <td>{{ lesson.day}}</td>
                    <td>{{ lesson.time}}</td>
                    <td>{{ lesson.price}}€</td>
                    <td><a class="mini activity-button btn btn-primary btn-lg" href="/./AdminLesson/showLesson/{{ lesson.id }}">Modifier</a>
                    </td>
                    <td>
                        <button>
                            <a href="/./AdminLesson/delete/{{ lesson.id }}"><img class="delete_button" src="/./assets/icons/logo_delete.png" alt="logo_delete"></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <a class="activity-button btn btn-primary btn-lg" href="/./AdminLesson/AddLesson">Ajouter une leçon</a>
</section>
