{% for error in errors %}
    <div class="form-message">{{ error }}</div>
{% endfor %}

<div class="form-lesson form-container">


    <div class="form- activity-left form-container-left-lesson">
        <div class="form-group-lesson">
            <label class="col-form-label" for="title">Type de l'activité</label>
            <select class="form-control custom-select" required class="form-control" id="activity" name="activity" required>
                {% for activity in activities %}
                    <option value="{{ activity.id }}"
                            {%  if lesson.name == activity.name %}
                    selected
                            {% endif %}>{{ activity.name }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="name" value="{{ lesson.name }}">
        </div>
        <div class="form-group-lesson">
            <label class="col-form-label" for="location">Age</label>
            <select class="form-control custom-select" required class="form-control" type="text" id="age" name="age" required>
                {% for age in ages %}
                    <option value="{{ age.id }}"
                            {%  if lesson.age_name==age.age %}
                    selected
                            {% endif %}>{{ age.age }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="age_name" value="{{ lesson.age_name }}">
        </div>
        <div class="form-group-lesson">
            <label for="pool-select">Choisir le bassin</label>
            <select class="form-control custom-select" required  class="form-control" name="pool" id="pool" required>
                {% for pool in pools %}
                    <option value="{{ pool.id }}"
                            {%  if lesson.pool_name==pool.pool_name %}
                    selected
                            {% endif %}>{{ pool.pool_name }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="pool_name" value="{{ lesson.pool_name }}">
        </div>
        <div class="container p-0">
            <!-- Le bouton permet d'éviter l'ouverture intempestive du modal pour le cours -->

            <button type="button" class="activity-button btn btn-primary" data-toggle="modal" data-target="#modal">Ajouter un bassin</button>


            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Enregistrer un nouveau bassin</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group-lesson">
                                <label class="col-form-label" for="location">Nom du Bassin</label>
                                <input class="form-control-lesson" type="text" id="new_pool" name="new_pool" value=" " placeholder="200" required>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="activity-button btn btn-primary" data-dismiss="modal">Fermer</button>
                            <input type="submit" class="activity-button btn btn-primary" value="Enregistrer" name="create_pool">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form- activity-right form-container-right-lesson">
        <div class="form-group-lesson">
            <label for="day-select">Choisir le jour</label>
            <select class="form-control custom-select" name="day" id="day" class="form-control">
                <option value="{{ lesson.day }}">--Choisir un jour--</option>
                <option value="Lundi"
                        {%  if lesson.day=="Lundi" %}
                selected
                        {% endif %}>Lundi</option>
                <option value="Mardi"
                        {%  if lesson.day=="Mardi" %}
                selected
                        {% endif %}>Mardi</option>
                <option value="Mercredi"
                        {%  if lesson.day=="Mercredi" %}
                selected
                        {% endif %}>Mercredi</option>
                <option value="Jeudi"
                        {%  if lesson.day=="Jeudi" %}
                selected
                        {% endif %}>Jeudi</option>
                <option value="Vendredi"
                        {%  if lesson.day=="Vendredi" %}
                selected
                        {% endif %}>Vendredi</option>
                <option value="Samedi"
                        {%  if lesson.day=="Samedi" %}
                selected
                        {% endif %}>Samedi</option>
            </select>
        </div>
        <div class="form-group-lesson">
            <label class="col-form-label" for="location">Heure</label>
            <input class="form-control-lesson" type="text" id="time" name="time" value="{{ lesson.time}}" placeholder="19h00-20h00">
        </div>
        <div class="form-group-lesson">
            <label class="col-form-label" for="location">Prix</label>
            <input class="form-control-lesson" type="text" id="price" name="price" value="{{ lesson.price}}" placeholder="200">
        </div>
    </div>





</div>

<input type="hidden" name="id" value="{{ lesson.id }}">
