{% for error in errors %}
    <div class="form-message">{{ error }}</div>
{% endfor %}

<div class="form-lesson form-container">


    <div class="form- activity-left form-container-left-lesson">
        <div class="form-group-lesson">
            <label class="col-form-label" for="title">Type de l'activité</label>
            <select required class="form-control" id="activity" name="activity" required>
                {% for activity in activities %}
                    <option value="{{ activity.id }}"
                            {%  if lesson.activity==activity.name %}
                    selected
                            {% endif %}>{{ activity.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group-lesson">
            <label class="col-form-label" for="location">Age</label>
            <select required class="form-control" type="text" id="age" name="age" required>
                {% for age in ages %}
                    <option value="{{ age.id }}"
                            {%  if lesson.age==age.age %}
                    selected
                            {% endif %}>{{ age.age }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group-lesson">
            <label for="pool-select">Choisir le bassin:</label>
            <select required  class="form-control" name="pool" id="pool" required>
                {% for pool in pools %}
                    <option value="{{ pool.id }}"
                            {%  if lesson.pool_name==pool.pool_name %}
                    selected
                            {% endif %}>{{ pool.pool_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form- activity-right form-container-right-lesson">
        <div class="form-group-lesson">
            <label for="day-select">Choisir le jour:</label>
            <select name="day" id="day" class="form-control" required>
                <option value="{{ lesson.day }}">--Choisir un jour--</option>
                <option value="Lundi"
                        {%  if lesson.day=="Lundi" %}
                selected
                        {% endif %}>Lundi</option>
                <option value="Mardi"
                        {%  if lesson.day=="Mardi" %}
                selected
                        {% endif %}>Mardi</option>
                <option value="Mercredi"
                        {%  if lesson.day=="Mercredi" %}
                selected
                        {% endif %}>Mercredi</option>
                <option value="Jeudi"
                        {%  if lesson.day=="Jeudi" %}
                selected
                        {% endif %}>Jeudi</option>
                <option value="Vendredi"
                        {%  if lesson.day=="Vendredi" %}
                selected
                        {% endif %}>Vendredi</option>
                <option value="Samedi"
                        {%  if lesson.day=="Samedi" %}
                selected
                        {% endif %}>Samedi</option>
            </select>
        </div>
        <div class="form-group-lesson">
            <label class="col-form-label" for="location" >Heure</label>
            <input class="form-control-lesson" type="text" id="time" name="time" value="{{ lesson.time}}" placeholder="19h00-20h00" required>
        </div>
        <div class="form-group-lesson">
            <label class="col-form-label" for="location">Prix</label>
            <input class="form-control-lesson" type="text" id="price" name="price" value="{{ lesson.price}}" placeholder="200" required>
        </div>
    </div>





</div>

<input type="hidden" name="id" value="{{ lesson.id }}">
