
 <section class="admin cookies container-fluid">
        <div class="row">
            <h2>Gestion de la messagerie</h2>

            <table class="table table-stripped table-hover">
                <thead class="thead-dark-price">
                <tr>
                    <th>Nom</th>
                    <th>Sujet</th>
                    <th>Message</th>
                    <th>e-Mail</th>
                    <th class=" text-center table-head-small small">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {%  for message in messagesBox %}

                <tr>
                    <td>{{ message.name }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.email }}</td>
                    <td class="text-center">
                        <form class="delete-form" method="POST" action="/./adminMessage/deleteMessage">
                        <input class="delete_button" type="submit" value="{{ message.id }}" name="id">
                        </form>
                    </td>
                </tr>
            {% endfor %}

                </tbody>
            </table>
        </div>
  </section>

