<section class="event">

    <h2 data-aos="fade-left">{{ event.title }}</h2>

    <div class="eventContent">


        <img src="../assets/images/{{ event.picture }}" class="eventpicture float-left" alt="image de l'évènement">

        <div class="eventDetails">
            <h4 class="date">{{ event.date }}</h4>

            <h5>{{ event.location }}</h5>

            <div class="description">
                {{ event.description }}
            </div>
        </div>

    </div>

</section>
