<section class="event">

    <h2>{{ event.title }}</h2>

    <div class="eventContent">


        <img src="../assets/images/{{ event.picture }}" class="eventpicture float-left" alt="image de l'évènement">

        <div class=eventDetails">
            <h3 class="date">{{ event.date }}</h3>

            <h4>{{ event.location }}</h4>

            <div class="description">
                {{ event.description }}
            </div>
        </div>

    </div>

</section>
