<h2>
    {{ event.title }}
</h2>

<img src="../assets/images/{{ event.picture }}" class="eventpicture float-left">

        <h3 class="date">{{ event.date }}</h3>
            <h4>{{ event.location }}</h4>

<div class="description">
    {{ event.description }}
</div>