{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Contact</h1>

    {% if message != '' %}
        <div class="form-message">{{ message }}</div>
    {% endif %}

    <form action="/./contact/sendMessage" method="POST" class="form-contact">

        <div id="userData" class="contactBloc">

            <div class="form-group-contact">
                <label for="name"> Votre nom :</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">
                        <svg class="bi bi-person" width="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                        </svg>
                        </span></div>
                    <input type="text"
                        placeholder="John Doe"
                        value="{{ contact.name }}"
                        id="name"
                        name="name" required
                        class="form-control">
                </div>
                <small class="errorMessage form-text text-danger">{{errors.name}}</small>
            </div>

            <div class="form-group-contact">
                <label for="email"> Votre adresse électronique :</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">@</span></div>
                    <input type="email"
                       placeholder="john.doe@nager.fr"
                       value="{{ contact.email }}"
                       id="email"
                       name="email" required
                       class="form-control">
                </div>
                <small class="errorMessage form-text text-danger">{{errors.email}}</small>
            </div>

            <div class="form-group-contact">
                <label for="email"> L'objet de votre message :</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">
                        <svg class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </span></div>
                <select class="form-control custom-select" name="subject" id="subject" required>
                    <option value="">--Veuillez choisir un sujet--</option>
                    {% for subject in subjects %}
                        <option value="{{subject}}">{{subject}}</option>
                    {%  endfor %}
                </select>
                <small class="errorMessage form-text text-danger">{{errors.subject}}</small>
            </div>

        </div>

        <div id="message" class="form-group-contact">
            <label for="messageContent">Message*</label>
            <textarea name="messageContent" id="messageContent" rows="7" required>{{contact.messageContent}}</textarea>
            <small class="errorMessage form-text text-danger">{{errors.messageContent}}</small>
        </div>

        <div id="button" class="form-btn">
            <button class="activity-button btn btn-primary" type="submit">Envoyer le message</button>
        </div>

    </form>


        <div class="staticDataContainer">
            <p class="role">Responsable Plannings/Groupes/Tests/Inscriptions Palais des Sports et Ephémère/ Jeunes Compétition</p>
            <p class="contact">Nicolas MARTIN  : 07.81.50.16.43 / allianceorleansnatation@gmail.com</p>

            <p class="role">Responsable Compétition Juniors et plus</p>
            <p class="contact">Vincent HUREL : 06.19.58.37.17 / allianceorleansnatation@gmail.com</p>

            <p class="role">Directeur</p>
            <p class="contact">Nicolas TOURNAIRE / aonatation@free.fr</p>

            <p class="role">Président</p>
            <p class="contact">Loic ROEMELIN : 06.14.42.94.64 / lroemelin@free.fr</p>


            <p class="role">Pour nous écrire :</p>
            <p class="contact">
                Alliance Orléans Natation,
                Complexe Nautique de la Source,
                Rue de Beaumarchais,
                45100 Orléans
            </p>
        </div>

{% endblock %}
