{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Contact</h1>

    {% if message != '' %}
        <div class="form-message">{{ message }}</div>
    {% endif %}

    <form action="/./contact/sendMessage" method="POST" class="form-contact">

        <div id="userData" class="contactBloc">

            <div class="form-group">
                <label for="name"> Votre nom :</label>
                <input type="text"
                    placeholder="John Doe"
                    value="{{ contact.name }}"
                    id="name"
                    name="name">
                <small class="errorMessage form-text text-danger">{{errors.name}}</small>
            </div>

            <div class="form-group">
                <label for="email"> Votre adresse électronique :</label>
                <input type="text"
                   placeholder="john.doe@nager.fr"
                   value="{{ contact.email }}"
                   id="email"
                   name="email">
                <small class="errorMessage form-text text-danger">{{errors.email}}</small>
            </div>

            <div class="form-group">
                <label for="email"> L'objet de votre message :</label>
                <select name="subject" id="subject">
                    <option value="">--Veuillez choisir un sujet--</option>
                    {% for subject in subjects %}
                        <option value="{{subject}}">{{subject}}</option>
                    {%  endfor %}
                </select>
                <small class="errorMessage form-text text-danger">{{errors.subject}}</small>
            </div>

        </div>

        <div id="message" class="contactBloc form-group">
            <label for="messageContent">Message*</label>
            <textarea name="messageContent" id="messageContent" rows="7" required>{{contact.messageContent}}</textarea>
            <small class="errorMessage form-text text-danger">{{errors.messageContent}}</small>
        </div>

        <div id="button" class="contactBloc form-btn">
            <button class="btn" type="submit">Envoyer le message</button>
        </div>

    </form>

    <section>
        <div class="staticDataContainer">
            <p class="role">Responsable Plannings/Groupes/Tests/Inscriptions Palais des Sports et Ephémère/ Jeunes Compétition</p>
            <p class="contact">Nicolas MARTIN  : 07.81.50.16.43 / allianceorleansnatation@gmail.com</p>

            <p class="role">Responsable Compétition Juniors et plus</p>
            <p class="contact">Vincent HUREL : 06.19.58.37.17 / allianceorleansnatation@gmail.com</p>

            <p class="role">Directeur</p>
            <p class="contact">Nicolas TOURNAIRE / aonatation@free.fr</p>

            <p class="role">Président</p>
            <p class="contact">Loic ROEMELIN : 06.14.42.94.64 / lroemelin@free.fr</p>


            <p class="role">Pour nous écrire :</p>
            <p class="contact">
                Alliance Orléans Natation,
                Complexe Nautique de la Source,
                Rue de Beaumarchais,
                45100 Orléans
            </p>
        </div>

    </section>

{% endblock %}
