{% extends 'layout.html.twig' %}

{% block content %}
    <section class="activityDetails">
        Ceci est la page d'une activité.

        <h1> {{ activity.name }} </h1>


        <img  class="activityPicture" src="/./assets/images/{{ activity.picture }}" alt="Activity Picture">
        <p class="activityDescription"> {{ activity.description }} </p>

        <p> Informations utiles  : </p>

        <div class="lessonData">

            <p  class="lessonAge"> age :{{ activity.age }}</p>

            <div class="priceAndPlace">
                <div class="titleAndData">
                    <span  class="title lessonPrice">prix :</span>
                    <span  class="data lessonPrice">{{ activity.price }}€</span>
                </div>

                <div class="titleAndData">
                    <span  class="title lessonPool">bassin:</span>
                    <span  class="data lessonPool">{{ activity.pool_name }}</span>
                </div>
            </div>

            <div class="timetable">
                <p  class="timeTitle">Horaires:</p>
                <div class="timeList">
                    <p  class="lessonDay"> {{ activity.day }}</p>
                    <p  class="lessonTime"> {{ activity.time }}</p>
                </div>
            </div>
        </div>

    </section>
{% endblock %}