{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        Ceci est la page d'une activité.

        <h2> {{ activity.name }} </h2>

        <p> index : {{ activity.id }} </p>
        <p> {{ activity.description }} </p>
        <img src="/./assets/images/{{ activity.picture }}" alt="Activity Picture">
        <p> {{ activity.to_be_displayed }} </p>

        <p> Leçons disponibles  : </p>

        <p> heure :{{ activity.time }}</p>
        <p> jour :{{ activity.day }}</p>
        <p> prix :{{ activity.price }}</p>
        <p> bassin :{{ activity.pool_id }}</p>
        <p> age :{{ activity.age_id }}</p>


    </section>
{% endblock %}