{% extends 'layout.html.twig' %}

{% block content %}
    <section class="activityDetails">
        Ceci est la page d'une activité.

        <h1> {{ activity.name }} </h1>

        <p class="activityIndex"> index : {{ activity.id }} </p>
        <p class="activityDescription"> {{ activity.description }} </p>
        <img  class="activityPicture" src="/./assets/images/{{ activity.picture }}" alt="Activity Picture">

        <p> Leçons disponibles  : </p>

        <div class=lessonData">
            <p  class="lessonTime"> heure :{{ activity.time }}</p>
            <p  class="lessonDay"> jour :{{ activity.day }}</p>
            <p  class="lessonPrice"> prix :{{ activity.price }}</p>
            <p  class="lessonPool"> bassin :{{ activity.pool_id }}</p>
            <p  class="lessonAge"> age :{{ activity.age_id }}</p>
        </div>

    </section>
{% endblock %}