{% extends 'layout.html.twig' %}

{% block content %}
    <section class="activityDetails">

        <h1> {{ activity.name }}</h1>

        <div class="row">
            <img  class="col-md activityPicture" src="/./assets/activityImages/{{ activity.picture }}" alt="Activity Picture">

            <div class="col-md buttonAndTable">

                {% if ageClasses|length > 1 %}
                      <p> Selectionnez votre catégorie  : </p>
                       <div class="btn-group" role="group">
                           <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Selectionnez une catégorie {{ lessonsByAgeClass.0.0.age }}
                           </button>
                           <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                               {% for ageClass in ageClasses %}
                                   <a class="{{ageClass.action}} dropdown-item" href="/./activity/showActivity/{{ activity.id }}/{{  ageClass.id }}#{{  ageClass.id }}" >{{ ageClass.age }}</a>
                               {% endfor %}
                           </div>
                       </div>
                {% elseif ageClasses|length == 0 %}
                    Cette activité n'est pas programmée pour l'instant. N'hésitez pas à nous contacter pour avoir de plus amples informations.
                {%  endif %}


              {% for ageClass in lessonsByAgeClass %}
              <div id="{{ageClass.0.age_id }}>" class="lessonData ageClass{{ageClass.0.age_id }}">


                          <p  class="lessonAge">{{ ageClass.0.age }}</p>

                          <div class="priceAndPlace">
                              <div class="titleAndData">
                                  <span  class="title lessonPrice">Prix :</span>
                                  <span  class="data lessonPrice">{{ ageClass.0.price }}€</span>
                              </div>

                              <div class="titleAndData">
                                  <span  class="title poolTitle">Bassin:</span>
                                  <span  class="data poolName">{{ ageClass.0.pool_name }}</span>
                              </div>
                          </div>

                          <div class="timetable">
                              <div  class="timeTitle">Horaires</div>

                              <div class="timeList">
                                  {% for lesson in ageClass %}
                                  <div class="timeBlock">
                                      <p  class="lessonDay"> {{ lesson.day }}</p>
                                      <p  class="lessonTime"> {{ lesson.time }}</p>
                                  </div>
                                  {% endfor %}
                              </div>
                          </div>
              </div>
              {% endfor %}
            </div>
        </div>

        <div class="activityDescription"> {{ activity.description }} </div>

        <div class="button-activity">
            <a class="activity-button btn btn-primary btn-lg" href="/./contact/index">Nous contacter</a>
        </div>

    </section>
{% endblock %}

